@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: p-extraLight;
  src: url("./../fonts/Poppins-ExtraLight.ttf");
}
@font-face {
  font-family: p-semiBold;
  src: url("./../fonts/Poppins-SemiBold.ttf");
}
@font-face {
  font-family: p-regular;
  src: url("./../fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: i-medium;
  src: url("./../fonts/Inter-Medium.ttf");
}

* {
  font-family: p-regular;
  color: #e7e6e6;
  user-select: none;
}
